/* flex-container */

$flex:flex;
$flex-dr:row;
$flex-dc:column;
$flex-drr:row-reverse;
$flex-dcc:column-reverse;
$justify-s:flex-start;
$justify-e:flex-end;
$justify-c:center;
$justify-sb:space-between;
$justify-sa:space-around;
$justify-se:space-evenly;