body{
        background-color: rgb(0, 149, 255);
}
@media (width:900px)
{
        body
        {
            background-color: aqua;
        }
}
    
@media (width > 600px) and (width <= 900px)
{
    .main
    {
        background-color: rgb(61, 93, 153);
        color: rgb(255, 255, 255);
        height: 200px;
    }
}
    
@media (orientation: landscape) and (width <= 600px) 
{
        body
        {
            background-color: rgb(153, 0, 255)
        }
        .main
        {
            width: 500px;
            height: 100px;
            border: 10px solid;
            border-radius: 20px;
        }
}
 @media (orientation: landscape) 
 {
        @media (width <= 600px) 
        {
            body
            {
                background-color: yellowe
            }
            .main   
            {
                 width: 500px;
                height: 100px;
                border: 10px solid;
                 border-radius: 20px;
            }
        }
        @media (max-width <= 900px)
        {

        }
}