@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');


body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

@layer components{
    .marqueeDiv{
        animation: marquees 10s linear infinite;
    }

    @keyframes marquees {
        0% {
            transform: translateY(0%);
        }
        100%{
            transform: translateY(-100%);
        }
        
    }

    .marqueeContainer:hover > div{
        animation-play-state: paused;
    }
}



